

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px; 
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 120px; 
  }
}